h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // margin: $margins 0;
  // font-weight: $heading-font-weight;
  // font-family: $heading-font-family;
  // line-height: $heading-line-height;
  // color: $heading-font-color;

  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500;
  text-rendering: optimizelegibility;

  &:not(:first-child) {
    margin: 1.5rem 0;
  }
}

/* Increased margin on additional headings */
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

/* @include mq--sm {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }
} */
