/** LAYOUT CONTAINERS
  * ---------------------------------------------------------------------------
  */

@use "../settings" as *;

%container {
  max-width: $mq-xl;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* stylelint-disable at-rule-semicolon-newline-after */
.u-container {
  @extend %container;

  &-xs { @extend %container; max-width: $mq-xs; }
  &-sm { @extend %container; max-width: $mq-sm; }
  &-md { @extend %container; max-width: $mq-md; }
  &-lg { @extend %container; max-width: $mq-lg; }
  &-xl { @extend %container; max-width: $mq-xl; }
  &-xxl { @extend %container; max-width: $mq-xxl; }
}

.u-wrapper {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}
