/* stylelint-disable indentation */
/* stylelint-disable scss/dollar-variable-colon-space-after */

/* ----------------------------------------------------------------------------
    basic colors, no branding plz
  -------------------------------------------------------------------------- */

  $black:                        #141414 !default; // nice black
  $white:                        #fdfdfd !default; // nice white
  // form etc
  $error:                        #d33c40 !default;
  $success:                      #29de7d !default;

/* ----------------------------------------------------------------------------
    web greyscale
  -------------------------------------------------------------------------- */
  $grey-darker:                  #424242 !default;
  $grey-dark:                    #6f6f6f !default;
  $grey:                         #949494 !default;
  $grey-light:                   #d8d8d8 !default;
  $grey-lighter:                 #f3f3f3 !default;
