/* FORM

                 Email: hampus.engblom@gmail.com

-------------------------------------------------------------------------------
  DETAILS:

  Form settings and application.
  There is some variables here, but you dont need to fuck around with them.

  Sructure to make this substainable

  variables
  %form
  select
  %forms-
  | :hover
  | :focus, active
  form validation
  | .is-sucsess
  | .has-error
  %forms-
  | :disabled
  | :invalid
  select
  everything else

------------------------------------------------------------------------------
MODIFICATION HISTORY:

  Date          Author         Reason for Modification
-------------------------------------------------------------------------------
  00 Jan 0000   J. Doe         words

---------------------------------------------------------------------------- */

$form-error-color: $error !default;
$form-success-color: $success !default;
$form-border-color: $border-color !default;
$input-background: transparent !default;
$placeholder: color.adjust($accent-color, $blackness 20%) !default;
$form-border: 1px solid $border-color !default;
$form-border-radius: 2px !default;
$form-border-hover: 1px solid color.adjust($border-color, $blackness 10%) !default;
$form-border-focus: 1px solid $link-color !default;

// Variable for all input fields
$forms: (
  "[type=color],"
  "[type=date],"
  "[type=datetime],"
  "[type=datetime-local],"
  "[type=time],"
  "[type=email],"
  "[type=month],"
  "[type=number],"
  "[type=password],"
  "[type=search],"
  "[type=tel],"
  "[type=text],"
  "[type=url],"
  "[type=week],"
  "select,"
  "textarea"
) !default;

/** DEFAULT
  * ---------------------------------------------------------------------------
  *   for all input fields (no buttons, no checkbox)
  */

%forms {
  display: block;
  background: $input-background;
  background-clip: padding-box;
  border: $form-border;
  border-radius: $form-border-radius;

  /* outline: none; */
  font-family: $sans-serif;
  color: $font-color-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
}

/* disable-ish */
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: $form-border-color;
  color: color.adjust($form-border-color, 30);
}

textarea {
  overflow: auto;
  resize: vertical;
  height: auto;
}

select {
  vertical-align: sub;
  appearance: none;
  background:
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJBAMAAADN8WE8AAAAJ1BMVEUAAABHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB9YSk7AAAADXRSTlPXABaehSjPsTwKw2xUcKPlSQAAADtJREFUCNdjMGBgYGAWBAKGACCLFcwSAbIcwSyhBAY2RTBLcAMDtyCENYthJZQlw3AQyhIsF4SxOiAsAFMMCKPY35E7AAAAAElFTkSuQmCC")
    right center no-repeat;
  color: $font-color-base;
  line-height: $line-height-base; // stop text to get cut off
}

/** hover
  * ------------------------------------------------------------------------ */
%forms-hover {
  border: $form-border-hover;
}

/** focus
  * ------------------------------------------------------------------------ */
%forms-focus {
  border: $form-border-focus;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%), 0 0 6px color.adjust($link-color, $lightness 30%);

  /* outline: 0; */
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border: $form-border-focus;
}

/** Form validation
  * ------------------------------------------------------------------------ */
input,
select,
textarea {
  &.has-error {
    border: 1px solid $form-error-color;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%), 0 0 6px color.adjust($form-error-color, $lightness 35%);
  }

  &.is-success {
    border: 1px solid $form-success-color;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%), 0 0 6px color.adjust($form-success-color, $lightness 25%);
  }

  &:hover,
  &:focus,
  &:active {
    &.has-error {
      @extend .has-error;
    }

    &.is-success {
      @extend .is-success;
    }
  }
}

/** disabled
  * ------------------------------------------------------------------------ */
%forms-disabled {
  background-color: $input-background;
  cursor: not-allowed;
  opacity: 1;
}

/** invalid
  * ------------------------------------------------------------------------ */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border: 1px solid $form-error-color;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%), 0 0 6px color.adjust($form-error-color, $lightness 35%);
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  border: 1px solid $form-error-color;
}

/** Variable containing all input fields
  * ------------------------------------------------------------------------ */
#{$forms} {
  @extend %forms;

  &:hover {
    @extend %forms-hover;
  }

  &:focus,
  &:active {
    @extend %forms-focus;
  }

  &:disabled {
    @extend %forms-disabled;
  }
}

/** select prob outdate. check plz
  * ------------------------------------------------------------------------ */
// Fix issues
select[multiple] {
  height: auto;
}

select::-ms-expand {
  display: none; // dropdown icon fix IE
}

/** everything else
  * ------------------------------------------------------------------------ */
label {
  font-weight: 600;
  max-width: 100%;
  display: inline-block;
  line-height: 2;
  margin: 1rem 0 0.5rem;
}

fieldset {
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;

  /*
    padding: $;
    margin: $ 0;
    */
}

legend {
  padding: 0 0.5rem;
  font-weight: 600;
}

// Placeholder Text
::placeholder,
:placeholder {
  color: $placeholder;
}
